<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/auth/login" method="post">
       
        <div><input type="text" placeholder="email" name="email"></div>
        <div><input type="text" placeholder="passward" name="passward" ></div>
        <div><input type="submit"></div>
        
    </form>
</body>
</html>